@model WebCrawl.WebApplication.viewModels.ResultsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="d-flex flex-column">

        <form class="text-center"
              asp-action="ParseSiteByUrl"
              asp-controller="Results"
              method="post">
            <label class="h4 p-1">Parse site by home url</label>
            <div class="text-center">
                <input id="url" class="@(ViewData.ModelState.IsValid ? "" : "border-danger") mh-100 w-50" type="text" asp-for="InputUrl" placeholder="Enter the URL" />
                <input id="parseBtn" class="btn btn-info p-1" type="submit" value="Parse URL" />
            </div>
            <div class="m-1">
                @if (!ViewData.ModelState.IsValid)
                {
                    <label class="text-danger">@ViewData.ModelState.Values.SelectMany(x => x.Errors).FirstOrDefault().ErrorMessage</label>
                }
            </div>
            <input asp-for="CurrentPage" type="hidden" />
        </form>
    </div>
    <div class="pt-3">
        <table id="resultTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Base Url</th>
                    <th>Date</th>
                    <th>Pages count</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 0;
                    @foreach (var result in Model.Results)
                    {
                        i++;
                        <tr class="table-result-link" onclick="window.location.href = '@Url.Action("Index", "Details", new { @id = result.Id })'">
                            <td>@i</td>
                            <td>@result.BasePage</td>
                            <td>@result.Date.ToShortDateString()</td>
                            <td>@result.Pages.Count() pages</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <!--paging-->
    <div class="d-flex justify-content-center">
        @{
            <input type="button"
                   class="btn btn-secondary m-1 p-2"
                   onclick="window.location.href = '@Url.Action("Index", "Results", new { @curPage = Model.CurrentPage-1 })'"
                   value="Previous"
                   @(Model.CurrentPage == 1 ? "disabled" : "")>


            if (Model.MaxPages > Model.CurrentPage)
            {
                for (int pagesCount = 1; pagesCount <= Model.TotalPages && pagesCount <= Model.MaxPages; pagesCount++)
                {
                    <a class="@(pagesCount == Model.CurrentPage ? "btn-secondary" : "btn-outline-secondary") btn m-1 p-2"
                       asp-action="Index"
                       asp-controller="Results"
                       asp-route-curPage="@pagesCount">
                        @pagesCount
                    </a>
                }
            }
            else
            {
                var pageRange = Model.CurrentPage - 3;
                for (int pagesCount = pageRange; pagesCount <= Model.TotalPages && pagesCount < Model.MaxPages + pageRange; pagesCount++)
                {
                    <a class="@(pagesCount == Model.CurrentPage ? "btn-secondary" : "btn-outline-secondary") btn m-1 p-2"
                       asp-action="Index"
                       asp-controller="Results"
                       asp-route-curPage="@pagesCount">
                        @pagesCount
                    </a>
                }
            }

            <input type="button"
                   class="btn btn-secondary m-1 p-2"
                   onclick="window.location.href = '@Url.Action("Index", "Results", new { @curPage = Model.CurrentPage+1 })'"
                   value="Next"
                   @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")>
        }
    </div>
</div>